.card {
    padding: 50px 0px 50px 0px;
    margin: 0 auto;
    display: grid;
    gap: 0rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.card1 {
    display: grid;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 10px;
    padding: 40px 30px 60px 20px;
    border-bottom: 4px solid #073072;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.card1 p{
    font-size: 15px;
}
.card1 h1{

    border-radius: 50%;
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 50px;
    height: 50px;
    color: #FF6500;
    background-color: #0B192C;
}
.heading{
    color: #1230AE;
    background-color: #C4D7FF;
    width: fit-content;
    padding: 0 8px 0 8px;
    border-radius: 5px;
}
@media screen and (max-width: 1470px) {
    .card {
        padding: 50px 0px 50px 0px;
        margin: 0 auto;
        display: grid;
        gap: 0rem;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
    .card1 {
        display: grid;
        /* gap: 1rem; */
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin: 10px;
        padding: 40px 30px 60px 20px;
        border-bottom: 4px solid #073072;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}

